.main {
	border-top: 5px solid $color-red; /* top red border */
}

.section {
	padding: 6 * $gutter 0;
}

.layout {
	max-width: $max-width;
	margin: 0 auto;
}

// GRID 

.grid {
	display: grid;
}

.grid--12-col {
    grid-template-columns: repeat(4, [col-start] 1fr);
    grid-gap: $gutter;

    @include breakpoint ($large) {
        grid-template-columns: repeat(12, [col-start] 1fr);
    }
}

.grid--3-col {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $gutter;

    @include breakpoint ($large) {
        grid-template-columns: repeat(3, 1fr);
    }
}

// GRID CONTENT

.layout--12-col {
	grid-column: col-start / span 12;
}

.layout--10-col {
	grid-column: col-start 2 / span 10;
}

// GRID UTILS

.grid-center--vertical {
	justify-items: center;
}