@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,800&subset=latin-ext');

// BASE FONT

$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Lato', sans-serif;

body {
  font-family: $base-font-family;
  font-weight: $regular;
  font-size: 1rem;
  color: $color-black;
}

// HEADINGS 
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
}

// TEXT

p {
	margin-bottom: 1rem;
}

// LINKS

a {
	font-family: $base-font-family;
	color: $color-black;
	text-decoration: none;
}

// FONT SIZES

.font-regular {
	font-size: $font-regular;
}

/* smaller font sizes */

.font-smaller {
	font-size: $font-smaller;
}

.font-xsmaller {
	font-size: $font-xsmaller;
}

.font-xxsmaller {
	font-size: $font-xxsmaller;
}

/* larger font sizes */

.font-larger {
	font-size: $font-larger;
}

.font-xlarger {
	font-size: $font-xlarger;
}

.font-xxlarger {
	font-size: $font-xxlarger;
}

// FONT WEIGHTS

.light {
	font-weight: $light;
}

.regular {
	font-weight: $regular;
}

.semibold {
	font-weight: $semibold;
}

.bold {
	font-weight: $bold;
}

.extrabold {
	font-weight: $extrabold;
}

// FONT COLORS

.color-black {
	color: $color-black;
}

.color-gray {
	color: $color-gray;
}

.color-white {
	color: $color-white;
}

.color-orange {
	color: $color-orange;
}

.color-red {
	color: $color-red;
}