.card {
	display: flex;
	flex-direction: column;
}

.card--member {
	align-items: center;
	text-align: center;
	max-width: 250px;

	> .card__img {
		height: 250px;
		width: 250px;
		display: block;
		border-radius: 50%;
		background: gray;
	}
}