.section-heading {	
	text-transform: uppercase;
	display: flex;
	align-items: center;

	margin-bottom: 4 * $gutter;
	position: relative;

	&:before {
		content: '';
		height: 1px;
		width: 2 * $gutter;
		margin: auto 0;
		margin-right: $gutter;
		background: $color-red;
	}
}

.section-heading__number {
	color: $color-orange;
	opacity: 0.7;
	font-size: 5rem;

	margin-right: $gutter;

	z-index: -1;
}