.hero {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-img {
	position: relative;
	height: 300px;
	width: 300px;
	
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}