.media__heading {
	display: flex;
	flex-direction: row;

	&:before {
		content: '';
		height: 1px;
		width: $gutter;
		margin: auto 0;
		margin-right: 0.75 * $gutter;
		background: $color-red;
		display: block;
	}

}