.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.nav__links {
	display: flex;
	align-items: center;
}

.nav__link {
	padding: 0 $gutter;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	display: block;

	&:nth-child(1) {
		padding-left: 0;
	}

	&:nth-last-child(1) {
		padding-right: 0;
	}
}