@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body,
html {
  height: 100%; }

body {
  overflow-x: hidden; }

.main {
  border-top: 5px solid #b8342d;
  /* top red border */ }

.section {
  padding: 5rem 0; }

.layout {
  max-width: 1440px;
  margin: 0 auto; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr);
  grid-gap: 1.25rem; }
  @media only screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(12, [col-start] 1fr); } }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #303030; }

a {
  font-family: "Open Sans", sans-serif;
  color: #303030;
  text-decoration: none; }

.font-regular {
  font-size: 1rem; }

/* smaller font sizes */
.font-smaller {
  font-size: 0.875rem; }

.font-xsmaller {
  font-size: 0.7rem; }

.font-xxsmaller {
  font-size: 0.625rem; }

/* larger font sizes */
.font-larger {
  font-size: 1.125rem; }

.font-xlarger {
  font-size: 1.25rem; }

.font-xxlarger {
  font-size: 1.5rem; }

.light {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.semibold {
  font-weight: 500; }

.bold {
  font-weight: 700; }

.extrabold {
  font-weight: 900; }

.color-black {
  color: #303030; }

.color-white {
  color: #ffffff; }

.color-orange {
  color: #f28d28; }

.color-red {
  color: #b8342d; }

.section-heading {
  text-transform: uppercase;
  display: flex;
  margin-bottom: 2.5rem; }
  .section-heading:before {
    content: '';
    height: 1px;
    width: 2.5rem;
    margin: auto 0;
    margin-right: 1.25rem;
    background: #b8342d; }

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero-img {
  position: relative;
  height: 300px;
  width: 300px; }
  .hero-img img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20; }

.nav__links {
  display: flex;
  align-items: center; }

.nav__link {
  margin: 0 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  display: block;
  transition: all 300ms ease-in-out; }
  .nav__link:hover {
    opacity: 0.7; }
  .nav__link:nth-child(1) {
    margin-left: 0; }
  .nav__link:nth-last-child(1) {
    margin-right: 0; }

.nav__link--highlighted {
  padding: 1.25rem;
  background: #b8342d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700; }
  .nav__link--highlighted:hover {
    background: #d24d46;
    opacity: 1; }

.logo {
  direction: flex;
  justify-content: center;
  align-items: center;
  width: 200px; }
  .logo > span {
    display: block; }
  .logo img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

/*# sourceMappingURL=main.css.map */
