.margin-bottom {
	margin-bottom: 1rem;
}

.margin-bottom--smaller {
	margin-bottom: 0.875rem;
}

.margin-bottom--xsmaller {
	margin-bottom: 0.75rem;
}

.margin-bottom--xxsmaller {
	margin-bottom: 0.625rem;
}

.margin-bottom--larger {
	margin-bottom: 1.125rem;
}

.margin-bottom--xlarger {
	margin-bottom: 1.25rem;
}

.margin-bottom--xxlarger {
	margin-bottom: 1.5rem;
}
