// COLORS 

$color-orange: #f28d28;
$color-white: #fffff;
$color-black: #303030;
$color-red: #b8342d;

// GUTTERS

$gutter: 1.25rem;

// FONT SIZES

$font-regular: 1rem;

$font-smaller: 0.875rem;
$font-xsmaller: 0.7rem;
$font-xxsmaller: 0.625rem;

$font-larger : 1.125rem;
$font-xlarger: 1.25rem;
$font-xxlarger: 1.5rem;

// LAYOUT WIDTHS

$max-width: 1440px;

// FONT WEIGHT

$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$extrabold: 900;

